<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="header-background">

    <div>

      <header >

        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-1 header-text font-smoothing">
              <li class="inline-block">
                  <a class="align-middle link-primary header-link mr-2">THIS DAY IN TRUMP</a>
              </li>
          </ul>
        </div>
     </header>

    </div>
    {% for post in site.posts %}

    {{post}}
    {% endfor %}

  </body>

</html>
